#####################################################################
#   Fan Control
#####################################################################

[controller_fan controller_fan_L]
#  Controller fan - FAN2
pin: PD13
kick_start_time: 0.5
max_power: 0.5
heater: extruder

[controller_fan controller_fan_R]
#  Controller fan - FAN3
pin: PD12
kick_start_time: 0.5
max_power: 0.25
heater: extruder

[controller_fan pi_fan]
##  Controller fan - FAN PI
pin: PE5
kick_start_time: 0.5
max_power: 0.35
heater: heater_bed

[controller_fan stepper_fan]
##  Controller fan - FAN STEPPER
pin: PD14
kick_start_time: 0.5
max_power: 0.75
stepper: stepper_x
#heater: heater_bed

#[heater_fan chamber_filter_fan]
##  Heater fan - nevermore [controller_fan nevermore]
#pin: PD15
#kick_start_time: 2.0
#max_power: 0.75 #0.45
#heater: heater_bed
#shutdown_speed: 0.0

[controller_fan chamber_heater_fan]
##  Heater fan - chamber SSR heater fan]
pin: PA8
max_power: 1 #0.45
heater: chamber_heater
idle_timeout: 30
stepper:

#####################################################################
#   Heater
#####################################################################

#[temperature_sensor chamber_back]
#sensor_type = Honeywell 100K 135-104LAG-J01
#sensor_pin = PF7
#min_temp: -50
#max_temp: 350

[heater_generic chamber_heater]
##  SSR Pin - HE1
##  Thermistor - TB
heater_pin: PA2
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
sensor_type: Honeywell 100K 135-104LAG-J01 #ATC Semitec 104GT-2
sensor_pin: PF7
##  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
max_power: 0.6
min_temp: 0
max_temp: 120
control: pid
pid_kp: 70.184
pid_ki: 0.376
pid_kd: 3274.071

[verify_heater chamber_heater]
hysteresis = 3
check_gain_time = 240
heating_gain: .1
check_gain_time:600
max_error: 500

[gcode_macro M141]
gcode:
    SET_HEATER_TEMPERATURE HEATER=chamber_heater TARGET={params.S|default(0)}

[gcode_macro M191]
gcode:
    {% set s = params.S|float %}
    {% if s == 0 %}
        # If target temperature is 0, do nothing
        M117 Chamber heating cancelled
    {% else %}
        SET_HEATER_TEMPERATURE HEATER=chamber_heater TARGET={s}
        # Orca: uncomment the following line if you want to use heat bed to assist chamber heating
        # M140 S100
        TEMPERATURE_WAIT SENSOR="heater_generic chamber_heater" MINIMUM={s-1} MAXIMUM={s+30}
        M117 Chamber at target temperature
    {% endif %}